<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="cartographer">

    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss,SSS} %X %t %-5p: %c - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>

</Configuration>
