<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="cartographer">

    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="PatternLayout" pattern="%d{dd-MMM-yyyy HH:mm:ss,SSS} %X %t %-5p: %c - %m%n" />
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>
